<template lang="html">
    <div class="chat-composer">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                 <textarea rows="2" class="form-control" id="message" type="text" placeholder="Start typing your message..." v-model="messageText" @keyup.enter="sendMessage"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xm-6 col-xs-6">
                <div id="attachment">
                    <!-- <p id="upload-file"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach a file</p> -->
                </div>
            </div>
            <div class="col-md-6  col-xm-6 col-xs-6 text-right">
                <br>
                  <!-- <v-flex xs1 class="text-center">
                     <file-upload
                     post-action="/admin/message-image"
                     ref='upload'
                     
                     @input-file="$refs.upload.active = true"
                     :headers="{'X-CSRF-TOKEN': token}"
                     >
                        <i class="fa fa-paperclip" aria-hidden="true"></i> 
                     </file-upload>

                </v-flex> -->
                 <image-component></image-component>
                <button class="btn send-message-btn" @click="sendMessage">Send Message</button>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            messageText: '',
            filesUploaded: [],
            jobid : '',
            token:document.head.querySelector('meta[name="csrf-token"]').content
        }
    },
    mounted(){
     var array = window.location.href.split('/');
        var lastsegment = array[array.length-1];
        if(lastsegment == "message"){
            this.jobid = $('#jobid').data('jobid');
        }
        else{
            this.jobid = lastsegment;
        }   

        },
    methods: {
        sendMessage() {
            this.$emit('messagesent', {
                message: this.messageText,
                job_id: $('#jobid').data('jobid'),
                who: 'bubble-right',
                color: $('#userChatColor').val(),
                user: {
                    name: $('#user_name').text()
                },
                
            });
            this.messageText = '';
        }
    }
};
</script>

<style lang="css">

#attachment a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
#attachment i{
    color: #00B39D;
}
.send-message-btn{
    background: #00B39D;
    color: #fff;
    border-radius: 5px;
}
.chat-composer textarea {
    background-color: #85939f;
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    color: #fff;
    font-size: 20px;
}

/*.chat-composer button {
    border-radius: 0;
}*/
</style>
